# Flask
FLASK_SECRET_KEY=your-super-secret-key-change-this-in-production
FLASK_ENV=development
DATABASE_URL=postgresql://bakery_management_0dw2_user:FZiM4L0xeVtUdcWealamgitZXaWQDyqr@dpg-d9mbdgp42hec73bloceg-a.oregon-postgres.render.com/bakery_management_0dw2


# M-Pesa Daraja API (Safaricom)
CONSUMER_KEY=HXGGFfsfUMMm72MknK3XGRgg93s92Apb2aJuGeAdBF2tek9T
CONSUMER_SECRET=FDTGnmuBkvtsp2ejTaGeM4c0q2aEpb94eBNxD50h1BMKy8fCvXc7u67HxGhuEvYz
BUSINESS_SHORTCODE=174379
PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
CALLBACK_URL=https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest

# http://localhost:5173/api/payments/callback
# https://yourdomain.com/api/payments/callback

# For sandbox testing, use:
# MPESA_BASE_URL=https://sandbox.safaricom.co.ke
# For production, use:
# MPESA_BASE_URL=https://api.safaricom.co.ke
MPESA_BASE_URL=https://sandbox.safaricom.co.ke