# Flask
FLASK_SECRET_KEY=your-super-secret-key-change-this-in-production
FLASK_ENV=development
DATABASE_URL=sqlite:///bakery.db

# M-Pesa Daraja API (Safaricom)
CONSUMER_KEY=HXGGFfsfUMMm72MknK3XGRgg93s92Apb2aJuGeAdBF2tek9T
CONSUMER_SECRET=FDTGnmuBkvtsp2ejTaGeM4c0q2aEpb94eBNxD50h1BMKy8fCvXc7u67HxGhuEvYz
BUSINESS_SHORTCODE=0769021360
PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
CALLBACK_URL=ngrok http 5000
# https://yourdomain.com/api/payments/callback

# For sandbox testing, use:
# MPESA_BASE_URL=https://sandbox.safaricom.co.ke
# For production, use:
# MPESA_BASE_URL=https://api.safaricom.co.ke
MPESA_BASE_URL=https://sandbox.safaricom.co.ke