[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.18.5"
bcrypt = "==5.0.0"
blinker = "==1.9.0"
click = "==8.4.2"
flask = "==3.1.3"
flask-bcrypt = "==1.0.1"
flask-cors = "==6.0.5"
flask-jwt-extended = "==4.7.4"
flask-migrate = "==4.1.0"
flask-sqlalchemy = "==3.1.1"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
mako = "==1.3.12"
markupsafe = "==3.0.3"
pillow = "==12.3.0"
pyjwt = "==2.13.0"
python-dotenv = ">=1.0.0"
sqlalchemy = "==2.0.51"
typing-extensions = "==4.16.0"
werkzeug = "==3.1.8"
requests = ">=2.31.0"

[dev-packages]

[requires]
python_version = "3.12"
